@model TeachingApp.Models.Picture

@{
    ViewBag.Title = "Bild Test";
}

<div class="col-md-offset-4 col-md-8" style="margin-top: 0px;">
    <h2>Bild test</h2>
    <img class="img-responsive" src="~/Images/@Url.Content(Model.Name)" width="400" height="300">
</div>


<div class="form-group">
    <div class="col-md-offset-4 col-md-8">
        <hr />
        Vad föreställer bilden?
        <input type="text" id="newText">
        <input type="submit" value="Tryck" class="btn btn-default" />
        <hr />
        @Html.ActionLink("End your Test", "Index", "Home")
    </div>
</div>

