@model IEnumerable<TeachingApp.Models.DifferentialText>

@{
    ViewBag.Title = "Index";
}

<h2>Fill in the missing . and ,'s</h2>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<table class="table">

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ShowText)
        </td>
    </tr>
    <tr>
        <td>
            <form>
                <input type="text" name="differentialInput"/>
            </form>
        </td>
    </tr>
}

</table>